<%= form_with(model:@post , url: pop_path(@post), method: "create" , remote:true) do |f| %>

    <h1 class="display-1>Pop</h1>
    
    <div class="field">
    <%= f.label :title %><br/>
    <%= f.text_field :title%>
  </div>  
  <div class="field">
    <%= f.label :post %><br/>
    <%= f.text_field :post%>
  </div>
  
    <div class="actions">
      <%= f.submit "pop" %>
    </div>
<% end %>